name: Generate Rules

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * 1'

jobs:
  combined-job:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout main branch
        uses: actions/checkout@v3
        with:
          ref: main

      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: 3.x

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests pyyaml

      - name: Checkout metadata branch
        uses: actions/checkout@v3
        with:
          ref: metadata
          clean: false
          path: repo

      - name: Parse and download metadata
        run: |
          python ./.github/scripts/parse_online_full.py

      - name: Generate domain filter
        run: |
          python ./.github/scripts/generate_fa_ke_ip_filter.py

      - name: Backup config
        run: |
          python ./.github/scripts/backup_online_full.py

      - name: Parse backup rules
        run: |
          python ./.github/scripts/parse_yaml_backup.py

      - name: Process SB config
        run: |
          python ./.github/scripts/parse_sb_online_full.py

      - name: Commit and push changes
        run: |
          cd repo
          CURRENT_TIME=$(date '+%Y-%m-%d %H:%M:%S')
          git config --local user.email "13297229+QuincySx@users.noreply.github.com"
          git config --local user.name "GitHub Action"
          git add .
          git diff --cached --quiet || git commit -m "Update rules at $CURRENT_TIME" && git push --set-upstream origin metadata
